<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!-- FOOTER CONTENT -->
<section id="footer-credit">
	<section>
		<h1>OUR TEAM</h1>
		<p>
			<a href="https://www.facebook.com/duyntd130161">Nguyễn Trịnh Đức
				Duy</a>
		</p>
		<p>
			<a href="https://www.facebook.com/phat.chung.1998/">Chung Hiệp
				Phát</a>
		</p>
		<p>
			<a href="https://www.facebook.com/sword.fish.151/">Nguyễn Hữu
				Tính</a>
		</p>
		<p>
			<a href="https://www.facebook.com/toanl33/">Lê Nguyễn Bảo Toàn</a>
		</p>
	</section>
	<section>
		<h1>OUR POLICY</h1>
		<p>
			<a href="https://policies.google.com/privacy?hl=en-VN&fg=1">Privacy
				Policy</a>
		</p>
		<p>
			<a href="https://policies.google.com/terms?hl=en-VN&fg=1">Terms
				of Service</a>
		</p>
	</section>
	<section>
		<h1>EXTERNAL RESOURCES</h1>
		<p>
			<a href="https://spring.io/tools">Spring Tool Suite</a>
		</p>
		<p>
			<a href="https://www.google.com/">Google</a>
		</p>
		<p>
			<a href="https://stackoverflow.com/">StackOverflow</a>
		</p>
	</section>
</section>
<section id="footer-watermark">
	<p>Designed by Lê Nguyễn Bảo Toàn, 2020. No rights reserved.</p>
</section>
</html>