<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Your profile</title>
<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/utils.css" />
<link rel="stylesheet" href="/css/user.css" />
</head>
<body>
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- PAGE HEADER -->
		<header>
			<th:block th:include="/common/_header-user"></th:block>
		</header>
		<!-- PAGE NAVIGATION -->
		<nav>
			<th:block th:include="/common/_nav-user"></th:block>
		</nav>
		<!-- PAGE CONTAINER -->
		<div class="page-container parallax">
			<!-- PAGE HEADER -->
			<section class="page-banner">
				<div class="page-header">
					<h1>CHANGE PASSWORD</h1>
				</div>
			</section>
			<!-- PAGE CONTENT -->
			<section class="page-content">
				<!-- PAGE LINKS -->
				<section class="page-links">
					<ul>
						<li>
							<a th:href="@{/view-profile}">User details</a>
						</li>
						<li>
							<span>Update password</span>
						</li>
						<li>
							<a th:href="@{/view-bookings}">Booking history</a>
						</li>
					</ul>
				</section>
				<!-- PASSWORD FORM -->
				<section>
					<form action="edit-password" method="POST">
						<table class="form-table">
							<tr>
								<td class="text-align-left">Enter old password:</td>
								<td>
									<input th:unless="${incorrectPassword}" name="passwordOld"
										type="password" required />
									<input th:if="${incorrectPassword}" class="input-error"
										name="passwordOld" type="password"
										th:placeholder="${incorrectPassword}" required />
								</td>
							</tr>
							<tr>
								<td class="text-align-left">Enter new password:</td>
								<td>
									<input th:unless="${duplicatePassword}" name="passwordNew"
										type="password" required />
									<input th:if="${duplicatePassword}" class="input-error"
										name="passwordNew" type="password"
										th:placeholder="${duplicatePassword}" required />
								</td>
							</tr>
							<tr>
								<td class="text-align-left">Confirm new password:</td>
								<td>
									<input th:unless="${failConfirm}" name="passwordConfirm"
										type="password" required />
									<input th:if="${failConfirm}" class="input-error"
										name="passwordConfirm" type="password"
										th:placeholder="${failConfirm}" required />
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<button type="submit">UPDATE PASSWORD</button>
								</td>
							</tr>
						</table>
					</form>
				</section>
			</section>
		</div>
		<!-- PAGE ALERTS -->
		<div class="page-alert">
			<div class="page-alert-msg" th:if="${success}" th:text="${success}"></div>
		</div>
		<!-- PAGE FOOTER -->
		<footer>
			<th:block th:include="/common/_footer"></th:block>
		</footer>
	</div>
</body>
</html>