<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hiep Phat</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="/css/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/css/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/css/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/css/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/css/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/css/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="css/assets/img/259557221_3195808563975564_6155291936273949350_n.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Chung Hiep Phat</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.facebook.com/phat.chung.1998/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/chunghiepphat/" class="instagram"><i class="bx bxl-instagram"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Chung Hiep Phat</h1>
      <p>I'm <span class="typed" data-typed-items="Developer, Gamer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>About</h2>
          <p>Hello everyone, my name is Chung Hiep Phat and here is my CV.Thank you for visiting my blog !</p>
        </div>
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/css/assets/img/259557221_3195808563975564_6155291936273949350_n.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left" style="margin-top: 40px;">
            <h3>Software Engineering &amp; Gamer.</h3>
            <p class="fst-italic">
              Profile
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>31 October 1998</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>hiepphat-herokuapp.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>0934007381</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Ho Chi Minh city,Vietnam</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>23</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor of software programming</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>phathiepchung3110@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Unavailable</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
   

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <b>Spring framework,ReactJs,Java,and my objective is <i>Backend-developer</i>.</b>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Java <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL<i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Chung Hiep Phat</h4>
              <p><em>Fresher Java Developer.</em></p>
              <ul>
                <li>72/1T,Tan Thoi Nhat,District 12</li>
                <li>0934007381</li>
                <li>phathiepchung3110@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of &amp; Software Engineering</h4>
              <h5>2016-2021</h5>
              <p><em>FPT University HCM</em></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Project Experience</h3>
            <div class="resume-item">
              <h4>Booking bus ticket management system</h4>
              <h5>2020</h5>
              <ul>
                <li>This is web app using Springboot framework and Java,HTML,CSS</li>
                <li>It's help user can booking the bus ticket to travel and seller manage the user activity. </li>            
              </ul>
            </div>
            <div class="resume-item">
              <h4>Mobile Store</h4>
              <h5>2020</h5>          
              <ul>
                <li>This is a demo web app using JavaServer Pages Standard Tag Library(JSTL) for
                  my assignment from FPT</li>
                <li>It's help user to shopping online.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Capstone:Vegetarian Application</h4>
              <h5>2021</h5>          
              <ul>
                <li>This is our team capstone project in FPT University</li>
                <li>It's help user to create ,share the recipes,social food and calculate bmi body index,suggest the menu suitable for their body index </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->


    <!-- ======= Contact Section ======= -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/css/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/css/assets/vendor/aos/aos.js"></script>
  <script src="/css/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/css/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/css/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/css/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/css/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/css/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/css/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/css/assets/js/main.js"></script>

</body>

</html>