<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign in</title>
<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/utils.css" />
<link rel="stylesheet" href="/css/login.css" />
</head>
<body>
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- PAGE HEADER -->
		<header>
			<th:block th:include="/common/_header"></th:block>
		</header>
		<!-- PAGE NAVIGATION -->
		<nav>
			<th:block th:include="/common/_nav-user"></th:block>
		</nav>
		<!-- PAGE CONTAINER -->
		<div class="page-container parallax">
			<!-- PAGE BANNER -->
			<section class="page-banner">
				<div class="form-login">
					<div class="page-header">
						<h1>LOGIN</h1>
						<p>Welcome back!</p>
					</div>
					<!-- FORM: SIGN IN -->
					<form th:action="@{/login}" method="POST">
						<!-- INPUT: USER EMAIL -->
						<input type="email" name="email" placeholder="Enter email"
							required autofocus />
						<!-- INPUT: USER PASSWORD -->
						<input type="password" name="password"
							placeholder="Enter password" required />
						<!-- BUTTON: SUBMIT -->
						<button type="submit">Sign in</button>
						<div class="text-align-center">
							<span>New user? </span><a th:href="@{/register}">Sign up!</a>
						</div>
					</form>
				</div>
			</section>
		</div>
		<!-- PAGE ALERTS -->
		<div class="page-alert">
			<div class="page-alert-err" role="alert" th:if="${param.error}">
				<p>The email or password is incorrect!</p>
			</div>
		</div>
		<!-- PAGE FOOTER -->
		<footer>
			<th:block th:include="/common/_footer"></th:block>
		</footer>
	</div>
</body>
</html>
