<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign in</title>
<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/utils.css" />
<link rel="stylesheet" href="/css/login.css" />
</head>
<body>
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- PAGE HEADER -->
		<header>
			<th:block th:include="/common/_header-user"></th:block>
		</header>
		<!-- PAGE NAVIGATION -->
		<nav>
			<th:block th:include="/common/_nav-user"></th:block>
		</nav>
		<!-- PAGE CONTENT -->
		<div class="page-container parallax">
			<section class="page-banner">
				<div class="form-login">
					<div class="page-header">
						<h1>REGISTER</h1>
						<p>Create your free account!</p>
					</div>
					<form role="form" method="POST" th:action="@{/signup}"
						th:object="${user}">
						<div>
							<input type="text" th:field="*{firstname}"
								placeholder="First Name" required autofocus>
						</div>
						<div>
							<input type="text" th:field="*{lastname}" placeholder="Last name"
								required autofocus>
						</div>
						<div>
							<input type="text" th:field="*{email}"
								placeholder="Email address" required autofocus>
						</div>
						<div>
							<input type="password" th:field="*{password}"
								placeholder="Password" required>
						</div>
						<div>
							<button type="submit">Sign up</button>
						</div>
						<div class="text-align-center">
							<span>Have an account? </span><a th:href="@{/login}">Sign in!</a>
						</div>
					</form>
				</div>
			</section>
		</div>
		<!-- PAGE ALERTS -->
		<div class="page-alert">
			<div class="page-alert-msg" role="alert" th:if="${msg}">
				<p class="alert alert-success" th:utext="${msg}"></p>
			</div>
		</div>
		<!-- PAGE FOOTER -->
		<footer>
			<th:block th:include="/common/_footer"></th:block>
		</footer>
	</div>
</body>
</html>